In [1]:
print('You\'ll', 'never', 'walk', 'alone.', sep="\t")

You'll	never	walk	alone.

In [31]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records['personal_info']['teen']['marry']['age'])
print(list(school_records['grades_info']['teen']['joseph'].items()))
print(school_records['grades_info']['teen']['joseph'])

16
[('coding', 80), ('math', 89)]
{'coding': 80, 'math': 89}

In [ ]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)

In [2]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [3]:
print(tuple(range(1,11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
number =(range(1,11))
print(number)

range(1, 11)

In [5]:
number =range(1,11)
print(number)

range(1, 11)

In [7]:
family = {'name1': 'Oguzhan', 'name2': 'Feyza', 'name3': 'Beyzanur'}
family['name4'] = 'Sema'
family['name5'] = 'Rumeysa'
print(family)

{'name1': 'Oguzhan', 'name2': 'Feyza', 'name3': 'Beyzanur', 'name4': 'Sema', 'name5': 'Rumeysa'}

In [8]:
family = dict(name1 = 'Oguzhan', name2 = 'Feyza', name3 = 'Beyzanur', name4 = 'Sema', name5 = 'Rumeysa')
print(family)

{'name1': 'Oguzhan', 'name2': 'Feyza', 'name3': 'Beyzanur', 'name4': 'Sema', 'name5': 'Rumeysa'}

In [9]:
family = dict(1 = 'Oguzhan', 2 = 'Feyza', 3 = 'Beyzanur', 4 = 'Sema', 5 = 'Rumeysa')
print(family)

SyntaxError: keyword can't be an expression (<ipython-input-9-34d423c809cc>, line 1)

In [13]:
family = {1 : 'Oguzhan', 2 : 'Feyza', 3 : 'Beyzanur', 4 : 'Sema', 5 : 'Rumeysa'}
print(family)
family[2]

{1: 'Oguzhan', 2: 'Feyza', 3: 'Beyzanur', 4: 'Sema', 5: 'Rumeysa'}

'Feyza'

In [28]:
family = {'name1': 'Oguzhan', 'name2': 'Feyza', 'name3': 'Beyzanur', 'name4': 'Sema', 'name5': 'Rumeysa'}
print(family.items())
print(list(family.items()))
list(family.keys())
print(family.values())
family.update({'name6':'hakan'})
print(family)
del family['name6']
print(family)
print('name1' in family)
print('name2' not in family)

dict_items([('name1', 'Oguzhan'), ('name2', 'Feyza'), ('name3', 'Beyzanur'), ('name4', 'Sema'), ('name5', 'Rumeysa')])
[('name1', 'Oguzhan'), ('name2', 'Feyza'), ('name3', 'Beyzanur'), ('name4', 'Sema'), ('name5', 'Rumeysa')]
dict_values(['Oguzhan', 'Feyza', 'Beyzanur', 'Sema', 'Rumeysa'])
{'name1': 'Oguzhan', 'name2': 'Feyza', 'name3': 'Beyzanur', 'name4': 'Sema', 'name5': 'Rumeysa', 'name6': 'hakan'}
{'name1': 'Oguzhan', 'name2': 'Feyza', 'name3': 'Beyzanur', 'name4': 'Sema', 'name5': 'Rumeysa'}
True
False

In [92]:
word = input("write a word:  ")
a = set(word)
left_hand = {'q', 'w', 'e', 'r', 't', 'a', 's', 'z', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b'}
right_hand = {'y', 'u', 'i', 'o', 'p', 'h','j', 'k', 'l', 'n', 'm'}
x = (a - left_hand != set())
y = (a - right_hand != set())
print (x and y)

True

In [95]:
word = input("write a word:  ")
a = set(word)
left_hand = {'q', 'w', 'e', 'r', 't', 'a','s', 'z', 'd', 'f', 'g', 'x', 'c', 'v', 'b'}
right_hand = {'y', 'u', 'i', 'o', 'p', 'h','j', 'k', 'l', 'n', 'm'}
x = (a.difference(left_hand) != set())
y = (a.difference(right_hand) != set())         #assignment 2 comfortable words
print (x and y)

True

In [96]:
left = set('qwertgfdsazxcvb')
print(left)

{'g', 'q', 't', 'f', 'r', 'd', 'a', 'c', 'b', 'w', 'v', 'z', 'x', 'e', 's'}

In [1]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
newfam = tuple(family_members)
print(type(newfam))

<class 'tuple'>

In [7]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
x = set(numbers)
y = list(x)

difference = list(set(numbers) - set(y))
print(difference)

[]

In [15]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
numbers_m = max(set(numbers), key = numbers.count)
print(numbers_m)

3

In [3]:
empty_seat = 14

if empty_seat > 3:  # in this case, 14>3=True, so the body will execute
    print('there is still seat to sit')

there is still seat to sit

In [7]:
number = 23
if number >= 10 :
    print('The number is equal or greater than 10')
else :
    print('The number is less than 10')

The number is equal or greater than 10

In [ ]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

In [12]:
score = float (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree:", Score_letter)

Your degree: B+

In [13]:
x =("qazxswedcvfrtgnhyujmkiolp")
print(set(x))

{'g', 'u', 'k', 'x', 'v', 'c', 'r', 't', 'z', 'o', 'n', 'f', 'm', 'd', 'h', 'p', 'e', 'j', 'a', 'q', 'l', 's', 'i', 'y', 'w'}

In [18]:
y = (1,2,3,4,5,6,7,8,9,10,11,12,13)
print(list(y))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [20]:
day = "07/04/2020"
day1 = {"07/04/2020"}
print(set(day))
print(day1)

{'2', '4', '/', '7', '0'}
{'07/04/2020'}

In [21]:
given_list =[1,2,3,3,3,3,4,4,5,5]
print(set(given_list))

{1, 2, 3, 4, 5}

In [23]:
capital_usa = "washington"
capital_newzealand = "wellington"
x = set(capital_usa)
y = set(capital_newzealand)
print(x - y)
print(x | y)
print(x & y)

{'s', 'a', 'h'}
{'g', 'h', 's', 'i', 'e', 'o', 't', 'w', 'a', 'n', 'l'}
{'g', 'i', 'w', 'o', 't', 'n'}

In [27]:
minced = True
bread = True
lettuce = True
pepper = False
store = True
hamburger = (minced and bread and store) and (lettuce or pepper)
if hamburger:
    print('Bon apettit')
else:
    print('you need extra ingredient')

Bon apettit

In [29]:
1.0 == 1
0 == []

False

In [30]:
"""""" == ""

True

In [33]:
1**1 == 1**0

True

In [35]:
x = 6
y = 9
print(x == y)
print(x != y)

False
True

In [37]:
x = "TWELVE PLUS ONE"
y = "ELEVEN PLUS TWO"
x1 = set(x)
y1 = set(y)
if x1 == y1:
    print("we are the same")

we are the same

In [7]:
x = input("enter yes or no")
if x == "yes":
    print("you entered True")
else:
    print("you entered False")

you entered True

In [47]:
convert = input("Enter Yes or No : ").title().strip() == "Yes"
print("You entered", convert)

You entered False

In [63]:
number = int(input('Enter even or odd number: '))
if (number % 2) == 0:
    print("{0} is even".format(number))
else:
    print("{0} is odd".format(number))              #buna bir bak

7 is odd

In [61]:
number = int(input('Enter even or odd number: '))
if (number % 2) == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

8 is even

In [52]:
a = int(input("Birinci sayıyı giriniz : "))
b = int(input("İkinci sayıyı giriniz : "))
if a>b:
    print('the large number is: ', a)
else:
    print('the large number is: ', b)

the large number is:  6

In [53]:
bool_val = True
if bool_val:
    print("yes")
else:
    print("no")

yes

In [58]:
x = float(input("Bir sayi girin: "))
y = float(input("Ikinci  farkli bir sayi girin: "))
z = float(input("Ucuncu bir sayi da girin; "))
if x > y and x > z :
    largest = x
elif y > x and y > z:
    largest = y
else :
    largest = z
print("Large number is", largest)

Large number is 786.0

In [2]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
freq_num = max(set(numbers), key = numbers.count)
rep_num = numbers.count(freq_num)
print(f"the most frequent number is {freq_num} and it was {rep_num} times repeated")

the most frequent number is 3 and it was 4 times repeated

In [25]:
sehir = ["addis ababa", "tokyo", "roma", "istanbul"]
sorted(sehir, reverse = True, key = len)

['addis ababa', 'istanbul', 'tokyo', 'roma']

In [1]:
pasword = input("Enter your name : ").title().strip() #== "Joseph"
if pasword == "Joseph":
    print(f"Hello,{pasword}!The password is :W@12")
else:
    print(f"Hello,{pasword}! See you later.")

Hello,Klkl! See you later.

In [26]:
samanlik = ["yumurta", "saman", "tirpan", "tezek","igne", "inek","su","tavuk"]
samanlik.index("igne")

4

In [27]:
v = ("five", 5, True)
x, y, z = v
print(x, y, z, sep="\n")

five
5
True

In [29]:
(monday, tuesday, wednesday, thursday,friday, saturday, sunday) = tuple(range(1, 8))
tuesday

2

In [30]:
[1, 2, 3, 4] + ["11","22", 33]

[1, 2, 3, 4, '11', '22', 33]

In [35]:
tt = (1, 2, [1, 3, 5])
tt[2].append("1")
print(tt)

(1, 2, [1, 3, 5, '1'])

In [37]:
items = (10, 20)
x, y = items
print(x)
print(y)

10
20

In [39]:
a, _, b, _ =(10, 20, 30, 40)
print(a, b)
print(_)

10 30
40

In [48]:
x, y, *z = (11, 22, 33, 44, 55, 66)
print(x)
print(y)
print(z)

11
22
[33, 44, 55, 66]

In [49]:
x, y, *_ = (11, 22, 33, 44, 55, 66)
print(x)
print(y)
print(z)

11
22
[33, 44, 55, 66]

In [43]:
x, y, *z, t = (11, 22, 33, 44, 55, 66)
print(z)
print(t)

[33, 44, 55]
66

In [54]:
no1 = 10_000_000_000
no2 = 100_000_000
#print (no1 + no2)
add = no1 +no2
print(f"{add:,}")

10,100,000,000

In [1]:
number = 0

while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')

0
1
2
3
4
5
now, number is bigger or equal to 6

In [ ]:
number = int(input('Please enter a number: '))
while number < 3:
    print)(number **2)
    number -= 1

In [3]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = ...

while count1 > 0 :
    print(flowers[count1-1])
    count1-= 1

Tulip
Orchid
Rose

In [13]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count2 < count1 :
    print(flowers[count2])
    count2 += 1

Rose
Orchid
Tulip

In [7]:
for i in ['Rose', 'Orchid', 'Tulip']:
    print(i)

Rose
Orchid
Tulip

In [8]:
for i in {'n1' : 'one', 'n2' : 'two'} : 
    print(i)

n1
n2

In [11]:
iterable = [1, 2, 3, 4]
for i in iterable:
    print(i**2)

1
4
9
16

In [12]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

9x0 =  0
9x1 =  9
9x2 =  18
9x3 =  27
9x4 =  36
9x5 =  45
9x6 =  54
9x7 =  63
9x8 =  72
9x9 =  81
9x10 =  90

In [14]:
a = 3
while a**2 < 299:
    print('I will stop smoking')
    a += 3

I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking

In [21]:
saved_amount = int(input('Please enter your saved amount: '))
ps4_price = 200
if saved_amount >= ps4_price:
    print("Yippee! You can buy your PS4")
elif saved_amount <= ps4_price/2:
    print("You must save more, keep saving!")
elif saved_amount > ps4_price/2:
    print("You saved more than half, keep saving!")

Yippee! You can buy your PS4

In [24]:
math_mark = int(input('Please enter the mark: '))

if math_mark >= 85:
    Score = "A (Excellent)"  
elif math_mark >= 70:
    Score ="B (Good)"
elif math_mark >= 60:
    Score = "C (Medium)"
elif math_mark >= 45:
    Score = "D (Not Bad)"  
else:
    Score = "F (Failed)"

print (f"{Score}")

D (Not Bad)

In [1]:
a = 998
if a >= 999 :
    print(a ** 0)  

else :
    print(a * 2)

1996

In [4]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in range(len(weekdays)):
    print('Day', day+1, ':', weekdays[day])

Day 1 : Monday
Day 2 : Tuesday
Day 3 : Wednesday
Day 4 : Thursday
Day 5 : Friday